body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #f0f0f0; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}

@keyframes color-change {
    0% {
      color: blue;
      font-size: 50px;
    }
  
    50% {
      color: red;
      font-size: 100px;
    }
  
    100% {
      color: blue;
      font-size: 50px;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}

h2 {
    color: red;
}

p {
    font-size: 30px;
}